/*#####################################################################################################################
|                                                                                                                      |
|                                                         BUTTONS                                                      |
|                                                                                                                      |
######################################################################################################################*/

/* General button layout */
button{
    cursor: pointer;
}

.buttons_area {
    padding-left: 50px;

    width: 95%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.modal-buttons {
    padding: 0;
    flex-wrap: nowrap;
}

.buttons_area button {
    height: 35px;
    width: 100px;
    margin: 20px 25px;

    border-radius: 5px;
    box-shadow: 0 1px 1px #0f505050;

    border: none;
    outline: none;

    text-align: center;
}


/* Sharing the style of links and buttons */
.buttons_area button img, .valeur a img{
    position: relative;
    width: 15px;
    top: 2px;
    margin-left: 5px;
}


/* Button to import csv files */
.buttons_area .file_color {
    height: min-content;
    width: 300px;

    margin: 0 25px;

    border-radius: 5px;
    box-shadow: 0 1px 1px #0f505050;
    background-color: #b8f3d0;

    border: none;
    outline: none;

    text-align: center;
}

.buttons_area .file_color form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_area .file_color button {
    margin: 0;
}

.buttons_area form input[type="file"] {
    width: 180px;
}


/* Adding colors to buttons */
.create, .import, .save {
    background-color: #8CEBB2;
}

.edit, .export, .download {
    background-color: #FFFEC9;
}

.delete, .cancel {
    background-color: #FA8971;
}

button:hover {
    filter: contrast(80%);
}

button span {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*#####################################################################################################################
|                                                                                                                      |
|                                             MEDIA QUERIES FOR BUTTONS                                                |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1000px) {
    .buttons_area {
        margin: 20px 0;
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .buttons_area.flex {
        display: flex;
        flex-direction: column;
    }

    .file_color {
        width: auto;
    }
}

@media screen and (max-width: 430px) {
    .buttons_area.flex {
        display: flex;
        flex-direction: column;
    }

    .buttons_area form input[type="file"] {
        width: 118px;
    }

    .buttons_area .file_color {
        width: 230px;
    }
}

@media screen and (max-width: 350px) {
    .buttons_area {
        padding: 0;
        margin: 20px auto;
    }

    .file_color {
        padding: 0;
        margin: 0 auto;
    }
}
