/*#####################################################################################################################
|                                                                                                                      |
|                                       PART COMMON TO ALL THE PAGES OF THE SITE                                       |
|                                                                                                                      |
######################################################################################################################*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
}


/* Overall page layout */
.container_all {
    background-color: #FFFFFF;
    min-height: 100vh;

    display: flex;
    overflow: hidden;
}

.container_page {
    display: flex;
    flex-direction: column;

    width: 80vw;

    margin-left: 17vw;
}


/* Text formatting */
h1 {
    margin: 30px 20px 0 0;
    padding: 20px;

    color: #3D8BF2;
    font-size: 30px;
    border-bottom: 3px solid #3D8BF2;
}

h2 {
    width: 35%;
    margin: 30px 20px 40px 0;
    padding: 20px 0 10px 50px;

    color: #3D8BF2;
    font-size: 24px;
    border-bottom: 3px solid #3D8BF2;
}

/*#####################################################################################################################
|                                                                                                                      |
|                                              MEDIA QUERIE FOR THE MAIN PART                                          |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1300px) {
    .container_page {
        width: 77vw;
        margin-left: 20vw;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
        display: flex;
        padding: 20px 0;
    }

    h2 {
        width: 90%;
    }

    .container_page {
        width: 70vw;
        margin-left: 24vw;
    }
}

@media screen and (max-width: 900px) {
    .container_page {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        display: flex;
        justify-content: flex-end;
    }

}

@media screen and (max-width: 600px) {
    h1 {
        margin-top: 50px;
    }
}

/*#####################################################################################################################
|                                                                                                                      |
|                                                LEFT NAVIGATION ON THE SITE                                           |
|                                                                                                                      |
######################################################################################################################*/
.burger {
    display: none;
}

.menu {
    width: 15vw;
    height: 100vh;
    position: fixed;

    overflow: auto;
    background-color: #4E6CFB;
}

/* Style for logged-in member information and information */
.user {
    height: 20%;
    min-height: 170px;
    background-color: #2F4DDB;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user a {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 10px;
    top: 10px;
}

.user a:hover {
    border-radius: 10px;
    background-color: #293db6;}

.user a img{
    width: 25px;
}

.user div {
    background-color: #FFFFFF;
    border-radius: 44px;

    margin-bottom: 7px;
    margin-top: 15px;
}

.user .association-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
    margin: 7px;

    background-color: #FFFFFF;
    border-radius: 34px;

    border: solid 2px #2F4DDB;
}

.user .association-logo img{
    width: 40px;
}

.user .association-name {
    color: #FFFFFF;
    font-weight: bolder;

    margin-bottom: 10px;
}

.user p {
    color: #FFFFFF;
}


/* Style for navigating between site features */
.links {
    height: 65%;
    min-height: 400px;
}

.links ul li {
    width: 100%;

    list-style: none;
    border-bottom: #6482FB 1px solid;
}

.links ul li a {
    font-weight: bolder;
    text-decoration: none;
    color: #FFFFFF;
}

.links ul li:hover {
    background-color: #FFFFFF;
}

.links ul li a:hover {
    color: #6482FB;
}

.links ul li a p {
    padding: 20px 0 20px 40px;

}


/* Style for logout and pseudo-footer */
.disconnect_link {
    height: 8%;
    min-height: 50px;
    width: 100%;
}

.disconnect_link form{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.disconnect_link button[type="submit"] {
    margin: 10px;
    padding: 12px;
    width: 80%;

    border-radius: 15px;
    border: 2px solid #FFFFFF;
    background-color: #4E6CFB;
    outline: none;

    color: #FFFFFF;
    font-size: 16px;

}

.disconnect_link button[type="submit"]:hover {
    border: 2px solid #FFFFFF;
    color: #4E6CFB;
    background-color: #FFFFFF;
}

.footer {
    width: 100%;
    height: 3%;
    min-height: 30px;
    padding: 5px 0;

    color: white;

    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.footer p a {
    color: white;
    font-size: 12px;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                         MEDIA QUERIE LEFT NAVIGATION ON THE SITE                                     |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1300px) {
    .menu {
        width: 18vw;
        height: 100vh;
        position: fixed;

        overflow: auto;
        background-color: #4E6CFB;
    }
}

@media screen and (max-width: 1100px) {
    .menu {
        width: 21vw;
        height: 100vh;
        position: fixed;

        overflow: auto;
        background-color: #4E6CFB;
    }
}

@media screen and (max-width: 900px) {
    .burger {
        display: block;
        position: fixed;
        top: 25px;
        left: 25px;

        z-index: 2;

        -webkit-user-select: none;
        user-select: none;

    }

    .burger input {
        display: block;
        width: 45px;
        height: 40px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity:0 ;
        z-index: 5;
    }

    .burger span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background-color: #3D8BF2;

        border-radius: 3px;
    }

    .menu {
        width: 80vw;
        position: fixed;
        z-index: 1;

        left: -80vw;
    }
}





/*#####################################################################################################################
|                                                                                                                      |
|                                         MEDIA QUERIE LEFT NAVIGATION ON THE SITE                                     |
|                                                                                                                      |
######################################################################################################################*/

/* Style for navigating between parameter options */
.linksForSettings {
    width: 90%;
}

.linksForSettings ul {
    list-style: none;
    display: flex;
    width: 100%;
}

.linksForSettings ul li {
    height: 40px;
    width: 100%;
    margin-right: 2px;
}

.linksForSettings ul a {
    text-decoration: none;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: 0 0 15px 15px;
    background-color: rgba(216, 216, 216, 0.51);
}

.linksForSettings ul a:hover {
    background-color: rgba(172, 172, 172, 0.51);
}

.linksForSettings ul li p{
    margin-top: 5px;
    font-size: 18px;
    color: black;
}

/*#####################################################################################################################
|                                                                                                                      |
|                                         MEDIA QUERIE LEFT NAVIGATION ON THE SITE                                     |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 650px) {
    .linksForSettings {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .linksForSettings {
        margin-top: 20px;
    }

    .linksForSettings ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .linksForSettings ul li {
        width: 175px;
        margin: 15px;

        background-color: rgba(65, 146, 255, 0.71);
        border-radius: 10px;
    }
}
