/*#####################################################################################################################
|                                                                                                                      |
|                                                        FORM                                                          |
|                                                                                                                      |
######################################################################################################################*/

/* Formatting the contents of tables and forms */
input {
    outline: none;
    border: none;
}

span, label {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    padding: 10px;
    margin-top: 5px;
    height: 60px;
    color: #919191;
    border-radius: 10px;
    border: 1px solid lightgray;

    resize: none;
}


/* Global layout of the form */
.db_infos {
    max-width: 500px;
    padding: 20px 55px 60px 55px;
}

.db_infos form {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.db_infos form.formulaire {
    background-color: #FFFFFF;
    padding: 30px 20px 0 20px;

    border-radius: 20px;
    overflow: hidden;
}


/* Formatting the table boxes */
.db_infos form .case_infos {
    display: flex;
    flex-direction: column;

    width: 90%;
    min-height: 45px;

    background-color: #F8F8F8;
    border: 2px solid #E6E6E6;
    border-radius: 5px;

    padding: 10px 30px 10px 22px;
    margin-top: 15px;
}

.db_infos form .case_infos_autocomplete {
    display: flex;

    width: 90%;
    height: 65px;

    background-color: #F8F8F8;
    border: 2px solid #E6E6E6;
    border-radius: 5px;

    padding: 10px 30px 10px 22px;
    margin-top: 15px;
}


/* Autocomplete box  */
.db_infos form .case_infos_autocomplete .autocomplete-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.db_infos form .case_infos_autocomplete .autocomplete-form input {
    width: 90%;

    margin-top: 5px;
    padding: 8px;

    border-radius: 8px;
    border: 2px solid lightgray;
    background-color: #fdfdfd;
}

.db_infos form .case_infos_autocomplete > input {
    width: 45px;

    text-align: center;
    font-weight: bolder;
    padding: 0 0 0 10px;

    border-left: 2px solid lightgray;
}

.db_infos form .case_infos_autocomplete .autocomplete-form .hide {
    display: none;
}

.db_infos form .case_infos_autocomplete .autocomplete-form input.focused {
    border-radius: 8px 8px 0 0;
}

.db_infos form .case_infos_autocomplete .autocomplete-form input + ul {
    position: absolute;
    margin-top: 65px;

    list-style: none;
    outline: none;

    border-radius: 0 0 8px 8px;
    border: 2px solid lightgray;
    border-top: none;

    max-height: 200px;
    overflow-y: auto;
}

.db_infos form .case_infos_autocomplete .autocomplete-form input + ul li {
    padding: 10px;

    background-color: #FFFFFF;
    border-bottom: 1px solid lightgray;
}

.db_infos form .case_infos_autocomplete .autocomplete-form input + ul li:hover {
    cursor: pointer;
    background-color: #DDDDDD;
}


/* Other boxes */
.db_infos form .case_infos:hover {
    background-color: #EEEEEE;
}

.db_infos form div label {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
}

.db_infos form div input {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #555555;

    line-height: 1.0;
    padding-right: 15px;
}


/*  Placement for buttons below the form  */
.db_infos .save {
    margin-top: 40px;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                                MEDIA QUERY FOR FORMS                                                 |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 600px) {
    .db_infos {
        padding: 20px 15px 60px 15px;
    }
}

@media screen and (max-width: 520px) {
    .db_infos form .case_infos_autocomplete .autocomplete-form ul {
        width: 170px;
    }

    .db_infos form .case_infos_autocomplete .autocomplete-form input {
        width: 70%;

    }

    .db_infos {
        padding: 20px 0 60px 0;
    }

    .db_infos form .case_infos {
        width: 80%;
        padding: 10px 15px 10px 15px;
    }

    .db_infos form .case_infos_autocomplete {
        width: 80%;
        padding: 10px 15px 10px 15px;
    }
}
