/*#####################################################################################################################
|                                                                                                                      |
|                                      SHAPING OF THE TILES OF THE RECEPTION DESK                                      |
|                                                                                                                      |
######################################################################################################################*/
main {
    padding-left: 60px;
}

section {
    margin-bottom: 6vh;
    margin-top: 3vh;

    display: flex;
    flex-wrap: wrap;
}

.tiles {
    width: 25%;
    min-width: 280px;

    border-radius: 5px;
    border: 2px #000000 solid;

    margin: 30px 20px;

}

.tiles:hover {
    border: 2px #3D8BF2 solid;
}

.tiles a {
    height: 130px;
    text-decoration: none;

    display: flex;
    align-items: center;

    color: #000000;
}

.tiles a:hover {
    color: #3D8BF2;
}

.tiles a p {
    text-align: center;
    font-size: 18px;
}

.tiles a img {
    width: 70px;

    margin: 0 20px;
}

.separation_line {
    width: 20vw;
    height: 0.15vh;
    margin-left: auto;
    margin-right: auto;

    background-color: lightgray;
}

/*#####################################################################################################################
|                                                                                                                      |
|                                             MEDIA QUERIES FOR THE TILES                                              |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1020px) {
    main {
        padding-left: 0;
    }

    .tiles {
        margin: 30px 10px;
    }
}

@media screen and (max-width: 900px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

