/*#####################################################################################################################
|                                                                                                                      |
|                                                       LOGIN PAGE                                                     |
|                                                                                                                      |
######################################################################################################################*/
* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Source Sans Pro', sans-serif;
}


/* Overall page layout */
.container_all {
    height: 100vh;
    width: 100vw;

    background-image: url("../images/background-login.jpg");

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-area {
    width: 60%;
    height: 60%;
    display: flex;

    background-color: #FFFFFF;
    border-radius: 35px;
}


/* Arrangement of the left side */
.left-side {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Arrangement of the right part */
.right-side {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Text and images */
img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-size: 35px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    border: none;
}

strong {
    color: red;
    font-size: 15px;
}


/* Form */
form {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-left: 4px solid #3D8BF2;
}

input[type="text"], input[type="password"] {
    margin: 10px;
    padding: 12px;
    width: 300px;

    border-radius: 15px;
    border:3px solid #3D8BF2;
    outline: none;

    text-align: center;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 3px solid #0000FF;
}

input[type="text"]:hover, input[type="password"]:hover {
    border: 3px solid #0000FF;
}

::placeholder {
    font-size: 16px;
}


button[type="submit"] {
    margin: 25px;
    padding: 14px;
    width: 200px;

    border-radius: 15px;
    border: 0;
    background-color: #3D8BF2;
    outline: none;

    color: white;
    font-size: 16px;

}

button[type="submit"]:hover {
    background-color: #0000FF;
}

button[type="submit"]:focus {
    background-color: #0000FF;
}

.connection-option {
    margin-top: 15px;
    width: 60%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-size: 15px;
}

.connection-option a {
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.connection-option a:hover {
    background-color: #F0F0F0;
    border-radius: 5px;
}

.remerber-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remerber-me input {
    width: 20px;
    height: 20px;

    margin-right: 7px;
}

/*#####################################################################################################################
|                                                                                                                      |
|                                          MEDIA QUERIES FOR THE LOGIN PAGE                                            |
|                                                                                                                      |
######################################################################################################################*/


@media screen and (max-width: 1400px) {
    .login-area {
        width: 80%;
    }
}

@media screen and (max-width: 1050px) {
    .login-area {
        width: 95%;
    }
}

@media screen and (max-height: 950px) {
    .login-area {
        height: 70%;
    }
}

@media screen and (max-width: 750px) {
    .login-area {
        background: transparent;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        min-height: 400px;
    }

    .right-side {
        width: 80%;
        height: 70%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-side {
        width: 65%;
        height: 25%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #FFFFFF;;
        border-radius: 35px;

        margin-bottom: 40px;
    }

    form {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-left: none;
    }

    input[type="text"], input[type="password"] {
        margin: 10px;
        padding: 10px;
        width: 200px;
    }

    button[type="submit"] {
        padding: 10px;
        width: 150px;
    }

    img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height: 650px) {
    .login-area {
        height: 90%;
    }

    .right-side {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .connection-option {
        width: 70%;
    }

    .connection-option {
        width: 80%;
    }
}

@media screen and (max-width: 440px) {

    .connection-option {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 13px;
    }

    h1 {
        font-size: 25px;
        margin: 25px 0 20px 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        border: none;
    }

    .remerber-me input {
        width: 15px;
        height: 15px;
    }

    input[type="text"], input[type="password"] {
        margin: 8px;
        padding: 8px;
        width: 175px;
    }

    .left-side {
        margin-bottom: 15px;
        height: 18%;
        border-radius: 20px;
    }

    .right-side {
        height: 82%;
    }
}
