/*#####################################################################################################################
|                                                                                                                      |
|                                                        TABLE                                                         |
|                                                                                                                      |
######################################################################################################################*/

main {
    margin-top: 50px;
}


/* Formatting the table rows  */
.container_table {
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container_table .table {
    text-align: left;
    flex: 1 1 auto;
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

.container_table .table p {
    font-family: 'Poppins', sans-serif;
}

.container_table .table .row:not(.header):hover {
    background-color: #C4D3F6;
}

.row.header {
    padding: 0 10px;
    background-color: #7A8AFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.row.header .cell {
    display: flex;

    margin: 15px 0;
}

.row.header .cell p {
    align-self: center;
}

.row.header .cell img {
    margin: 0 5px;
}

.row {
    display: flex;
    border-top: 1px solid #E0E0E0;
    background-color: #F0F0F0;
    font-size: 14px;
}

.row a {
    display: flex;

    padding: 12px 10px;
    width: 100%;
    color: #666666;
    align-self: center;
}

.cell {
    padding: 0 5px;
}

.row .cell.very-short {
    min-width: 3%;
    align-content: center;
}

.row .cell.short {
    width: 30%;
}

.row .cell.medium {
    width: 30%;
}

.row .cell.large {
    width: 50%;
}

.row .cell.very-large {
    width: 60%;
}

.row .cell.options {
    width: 20%;
    max-width: 100px;
}


/* Cell shaping */
.cell.options {
    padding: 6px 8px;
    display: flex;
    justify-content: center;
}

.cell.options button:not(.confirm) {
    width: 25px;
    height: 25px;

    padding: 5px;
    margin-left: 8px;

    border: none;
    outline: none;
    border-radius: 6px;

    background-color: #d6d6d6;
    cursor: pointer;
}

.cell.options button:hover:not(.confirm) {
    background-color: #b4b4b4;
}

.container-icon {
    display: flex;
    width: 100%;
}

.container-icon img {
    width: 100%;
    height: 100%;
}


/* Text formatting */

a {
    text-decoration: none;
}

img {
    width: 15px;
}

.ico input {
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
}

#inputFilter  {
    margin: 20px 0 10px 0;
    padding: 7px;
    width: 200px;

    border-radius: 10px;
    border: 2px solid #3D8BF2;
    outline: none;

    text-align: center;
}
/*#####################################################################################################################
|                                                                                                                      |
|                                               MEDIA QUERIES FOR TABLE                                                |
|                                                                                                                      |
######################################################################################################################*/

@media screen and (max-width: 1350px) {
    .container_table {
        width: 100%;
        overflow: scroll;
    }

    .table {
        min-width: 980px;
    }
}

/* When the width becomes too small, the board has a column display */
@media screen and (max-width: 1000px) {
    .container_table {
        width: 100%;
        overflow: hidden;
    }

    .row {
        display: block;

        width: 80%;
        font-size: 15px;
        border-bottom: 10px solid #FFFFFF;
    }

    .row a {
        flex-direction: column;
    }

    .row p {
        width: 80vw;
        min-height: 20px;
        margin: 5px 0 25px 10px;

        font-size: 20px;
        color: #808080;
    }

    .row.header {
        display: none;
    }

    .row.header .cell {
        display: none;
    }

    .row .cell:before {
        font-size: 20px;
        font-weight: bolder;
        color: #808080;

        margin: 5px 10px;
        padding-bottom: 5px;
        width: 85vw;
        border-bottom: 1px solid #D0D0D0;

        content: attr(data-title);
        display: block;
    }

    .row .cell.options {
        display: block;
    }

    .container-icon {
        display: flex;
        margin-bottom: 10px;
    }

    .cell.options .ico {
        width: 100%;
    }

    .row .cell.options button {
        height: 40px;
        width: 40px;

        margin-left: 10px;
        padding: 5px;
    }

    .row .cell.options img {
        height: 100%;
        width: 100%;
    }
}

/*#####################################################################################################################
|                                                                                                                      |
|                                           SUMMARY TABLE OF INFORMATION                                               |
|                                                                                                                      |
######################################################################################################################*/

/* Global formatting of the table */
.details {
    margin-left: 150px;
    display: flex;
    flex-flow: column;
    width: 70%;
}


/* Formatting each row of the table */
.details > div {
    display: flex;
}

.details > div:not(.options) {
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #ddd;
}

.details div .title, .details div .value {
    color: #666666;
    margin: 15px 0 4px 0;
    padding-left: 10px;
    width: 300px;
}

.details div .value a {
    margin-left: 15px;
}

.details div .title {
    font-weight: bold;
}

.details div input {
    background-color: #F7F7F7;
    padding: 2px;
    width: calc(100% - 190px);
}


/* Placement of buttons below the table */
.details .options{
    margin: 20px 0;
}

.details .buttons_area {
    justify-content: flex-start;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                    MEDIA QUERIES FOR SUMMARY TABLE OF INFORMATION                                    |
|                                                                                                                      |
######################################################################################################################*/

@media screen and (max-width: 850px) {
    .details {
        margin-left: 50px;
    }
}

@media screen and (max-width: 450px) {
    .details {
        margin-left: 0;
        width: 90%;
    }

    .details .buttons_area {
        display: flex;
        justify-content: center;
    }
}


/*#####################################################################################################################
|                                                                                                                      |
|                                              APPLICATION OPTIONS TABLE                                               |
|                                                                                                                      |
######################################################################################################################*/
.lists {
    margin-left: 150px;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lists .option-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
    width: fit-content;
}

.lists .option-table-container .table-area {
    width: 400px;
    min-width: 280px;
}

.lists .option-table-container .table-area p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;

    background-color: #7A8AFF;
    border-radius: 10px 10px 0 0;

    width: 100%;
    padding: 10px 0;
}

.lists .option-table-container .table-area .item {
    display: flex;
    justify-content: space-between;

    padding: 0 10px;

    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: #f0f0f0;
}

.lists .option-table-container .table-area .item input{
    margin: 5px 0;
    padding-left: 10px;

    border-radius: 5px;
    border: 2px solid lightgray;
    background-color: #FFFFFF;
}

.lists .option-table-container .table-area .item:last-child {
    border-bottom: 2px solid lightgray;
    border-radius: 0 0 10px 10px;
}

.lists .option-table-container .table-area .item button {
    margin: 5px;
    padding: 5px;

    border: none;
    outline: none;
    border-radius: 6px;

    background-color: #d6d6d6;
    cursor: pointer;
}

.lists .option-table-container .table-area .item button img {
    width: 20px;
    height: 20px;
}

.lists .option-table-container .table-area .item button:hover {
    background-color: #b4b4b4;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                      MEDIA QUERIES FOR APPLICATION OPTIONS TABLE                                     |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1250px) {
    .lists {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .lists .option-table-container .table-area {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .lists .option-table-container .table-area {
        width: auto;
    }

    .lists .option-table-container .table-area .item input{
        margin: 5px 5px;
    }

    .lists .option-table-container .table-area .item input:nth-child(2){
        width: 40px;
    }
}

@media screen and (max-width: 400px) {
    .lists .option-table-container .table-area .item input:nth-child(1){
        width: 140px;
    }
}
