<template>
    <div class="case_infos_autocomplete">
        <autocomplete
          :columns="columns.map(col => col)"
          :error="error"
          :label="label"
          :resource="resource"
          search_col="name"
          :value="value"
          :api_token="api_token"
          v-on:select-item="noteType">
        </autocomplete>
        <input type="hidden" :id="resource+'_id'" :name="resource+'_id'" v-model="name" required readonly>
    </div>
</template>

<script>
    export default {
        props: [
            'error',
            'label',
            'resource',
            'value',
            'api_token'
        ],
        data() {
            return {
                columns: ["name"],
                name: ""
            }
        },
        methods: {
            noteType: function (item){
                this.name = item.name
            },
        },
        mounted() {
            this.name = this.value
        }
    }
</script>
