<template>
    <div class="autocomplete-form">
        <label :for="resource" class="title">{{ label }} : </label>
        <input type="text" :id="resource" :name="resource" :class="error" v-model="query" @keyup="filter(query)" @focus="showList()" autocomplete="off" maxlength="256">
        <ul :class="resource+'s hide'" :id="'list_'+resource" v-click-outside="hideList">
            <li v-for="item in this.items" v-bind:key="item.id" style="" @click="select(item)">
                <span v-for="col in columns" v-bind:key="col">{{ item[col] }} </span>
            </li>
        </ul>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
    props: [
        'columns',
        'error',
        'label',
        'resource',
        'search_col',
        'value',
        'api_token'
    ],
    data() {
        return {
            myinput: null,
            mylist: null,
            items: null,
            query: ''
        }
    },
    methods: {
        showList() {
            this.myinput.classList.add('focused')
            this.mylist.classList.remove('hide')
            this.filter(this.query)
        },
        hideList() {
            if (document.activeElement !== this.myinput) {
                this.myinput.classList.remove('focused')
                this.mylist.classList.add('hide')
            }
        },
        filter(query) {
            let queryString, rows, txtValue

            rows = Array.from(document.querySelectorAll("."+this.resource+"s li"))
            queryString = this.query.toUpperCase()

            rows.forEach(row => {
                if (query != '') {
                    txtValue = row.textContent.toUpperCase();
                    if (txtValue.indexOf(queryString) > -1) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                } else {
                    row.style.display = "";
                }
            });
        },
        select(item) {
            this.$emit('select-item', item)
            this.query = ''
            this.columns.forEach((col, index) => {
                this.query += item[col].toString()
                if (index != this.columns.length-1) {
                    this.query += ' '
                }
            })
            this.hideList()
        },
        search(data, value) {
            data.forEach(row => {
                if (row[this.search_col].toString() == value) {
                    this.selected_id = data.id
                    this.columns.forEach((col, index) => {
                        this.query += row[col].toString()
                        if (index != this.columns.length-1) {
                            this.query += ' '
                        }
                    })
                    return
                }
            })
            this.myinput.setAttribute("placeholder", "No value")
        }
    },
    mounted() {
        axios({
            method: 'get',
            url: '/api/'+this.resource+'s',
            headers: {
                Authorization: 'Bearer '+this.api_token,
                Accept: 'application/json',
            }
        }).then(response => {
            this.items = response.data.data
            if (this.value) {
                this.search(response.data.data, this.value)
            }
        });

        this.myinput = document.getElementById(this.resource)
        this.mylist = document.getElementById("list_"+this.resource)
        this.mylist.setAttribute("style", "width: "+document.getElementById(this.resource).clientWidth.toString()+"px")
    },
    directives: {
        ClickOutside
    }
}
</script>
