<template>
    <div class="case_infos_autocomplete">
        <autocomplete
          :columns="columns.map(col => col)"
          :error="error"
          :label="label"
          :resource="resource"
          search_col="id"
          :value="value"
          :api_token="api_token"
          v-on:select-item="noteId">
        </autocomplete>
        <input type="number" maxlength="8" :id="resource+'_id'" :name="resource+'_id'" v-model="id" required readonly>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
    props: [
        'error',
        'label',
        'resource',
        'value',
        'api_token'
    ],
    data() {
        return {
            columns: ["firstname", "lastname"],
            id: null
        }
    },
    methods: {
        noteId (item){
            this.id = item.id
        },
    },
    mounted() {
        this.id = this.value
    }
}
</script>
