<template>
    <div class="case_infos_autocomplete">
        <autocomplete
          :columns="columns.map(col => col)"
          :error="error_type"
          :label="label_type"
          :resource="resource"
          search_col="type"
          :value="value_type"
          :api_token="api_token"
          v-on:select-item="noteType">
        </autocomplete>
        <input type="hidden" :id="resource+'_id'" :name="resource+'_id'" v-model="type" required readonly>
        <div class="autocomplete-form">
            <label for="amount" class="title">{{ label_amount }} : </label>
            <input type="number" step="0.01" id="amount" name="amount" :class="error_amount" v-model="amount" required>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'error_amount',
            'error_type',
            'label_amount',
            'label_type',
            'resource',
            'value_amount',
            'value_type',
            'api_token'
        ],
        data() {
            return {
                columns: ["type"],
                amount: 0,
                type: null
            }
        },
        methods: {
            noteType: function (item){
                this.amount = item.amount
                this.type = item.type
            },
        },
        mounted() {
            console.log(this.value_type)
            this.amount = this.value_amount
            this.type = this.value_type
        }
    }
</script>
