<template>
    <div>
        <button type="button" class="delete" @click="showModal = true">
            <span v-if="text == 'true'">Supprimer</span>
            <img :src="src" alt="Delete icon">
        </button>
        <modal v-if="showModal">
            <h3 slot="header">Confirmation d'action</h3>
            <h4 slot="body">Cela peut entrainer l'apparition de certains conflits.<br>Etes-vous sûr de vouloir faire ça ?</h4>
            <div class="buttons_area modal-buttons" slot="footer">
                <button type="button" class="cancel confirm" @click="showModal = false">
                    Annuler
                </button>
                <button type="submit" class="save confirm" @click="showModal = false">
                    Confirmer
                </button>
            </div>
        </modal>
    </div>
</template>

<script>
export default {
    props: [
        'text',
        'src'
    ],
    data() {
        return {
            showModal: false
        }
    }
}
</script>
