<template>
    <div class="option-table-container">
        <div class="table-area">
            <p>Liste des types de moyens de paiement</p>
            <div class="item" v-for="(item, index) in items" v-bind:key="item.id">
                <input type="text" :id="'name_'+item.id" :value="item.name" maxlength="256">
                <button type="button" @click="delElem(item, index)"><img :src="src_del_icon" alt="Delete icon"></button>
            </div>
        </div>
        <div class="buttons_area">
            <button type="button" @click="addElem" class="create">Ajouter<img :src="src_add_icon" alt="Plus icon"></button>
            <button type="button" @click="save" class="save">Enregistrer</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'src_add_icon',
            'src_del_icon',
            'api_token'
        ],
        data() {
            return {
                items: [],
            }
        },
        methods: {
            addElem() {
                axios({
                    method: 'post',
                    url: '/api/admin/datalistPaymentMeans',
                    headers: {
                        Authorization: 'Bearer '+this.api_token,
                        Accept: 'application/json',
                    },
                    data: {
                        name: "Nouveau",
                    }
                }).then(response => {
                    this.items.push(response.data.data)
                }).catch(err => {
                    console.log(err);
                });
            },
            delElem(item, index) {
                axios({
                    method: 'delete',
                    url: `/api/admin/datalistPaymentMeans/${item.id}`,
                    headers: {
                        Authorization: 'Bearer '+this.api_token,
                        Accept: 'application/json',
                    }, data: {
                        datalistMemberships: item.id
                    }
                }).then(response => {
                    this.items.splice(index, 1)
                }).catch(err => {
                    console.log(err);
                });
            },
            save() {
                this.items.forEach((item, index) => {
                    const txtName = document.getElementById(`name_${item.id}`).value
                    if (txtName != item.name) {
                        axios({
                            method: 'patch',
                            url: `/api/admin/datalistPaymentMeans/${item.id}`,
                            headers: {
                                Authorization: 'Bearer '+this.api_token,
                                Accept: 'application/json',
                            },
                            data: {
                                name: txtName,
                            }
                        }).then(response => {
                            this.items[index] = response.data.data
                        }).catch(err => {
                            console.log(err);
                        });
                    }
                })
            }
        },
        mounted() {
            axios({
                method: 'get',
                url: '/api/payment_means',
                headers: {
                    Authorization: 'Bearer '+this.api_token,
                    Accept: 'application/json',
                }
            }).then(response => {
                this.items = response.data.data
            });
        }
    }
</script>
