<template>
    <div class="option-table-container">
        <div class="table-area">
            <p>Liste des types d'adhésions</p>
            <div class="item" v-for="(item, index) in items" v-bind:key="item.id">
                <input type="text" :id="'type_'+item.id" :value="item.type" maxlength="256">
                <input type="number" :id="'amount_'+item.id" :value="item.amount" maxlength="8">
                <button type="button" @click="delElem(item, index)"><img :src="src_del_icon" alt="Delete icon"></button>
            </div>
        </div>

        <div class="buttons_area">
            <button type="button" @click="addElem" class="create">Ajouter<img :src="src_add_icon" alt="Plus icon"></button>
            <button type="button" @click="save" class="save">Enregistrer</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'src_add_icon',
            'src_del_icon',
            'api_token'
        ],
        data() {
            return {
                items: [],
            }
        },
        methods: {
            addElem() {
                axios({
                    method: 'post',
                    url: '/api/admin/datalistMemberships',
                    headers: {
                        Authorization: 'Bearer '+this.api_token,
                        Accept: 'application/json',
                    },
                    data: {
                        type: "Nouveau",
                        amount: 0
                    }
                }).then(response => {
                    this.items.push(response.data.data)
                }).catch(err => {
                    console.log(err);
                });
            },
            delElem(item, index) {
                axios({
                    method: 'delete',
                    url: `/api/admin/datalistMemberships/${item.id}`,
                    headers: {
                        Authorization: 'Bearer '+this.api_token,
                        Accept: 'application/json',
                    }, data: {
                        datalistMemberships: item.id
                    }
                }).then(response => {
                    this.items.splice(index, 1)
                }).catch(err => {
                    console.log(err);
                });
            },
            save() {
                this.items.forEach((item, index) => {
                    const txtType = document.getElementById(`type_${item.id}`).value
                    const txtAmount = document.getElementById(`amount_${item.id}`).value
                    if (txtType != item.type || txtAmount != item.amount.toString()) {
                        axios({
                            method: 'patch',
                            url: `/api/admin/datalistMemberships/${item.id}`,
                            headers: {
                                Authorization: 'Bearer '+this.api_token,
                                Accept: 'application/json',
                            },
                            data: {
                                type: txtType,
                                amount: txtAmount
                            }
                        }).then(response => {
                            this.items[index] = response.data.data
                        }).catch(err => {
                            console.log(err);
                        });
                    }
                })
            }
        },
        mounted() {
            axios({
                method: 'get',
                url: '/api/types',
                headers: {
                    Authorization: 'Bearer '+this.api_token,
                    Accept: 'application/json',
                }
            }).then(response => {
                this.items = response.data.data
            });
        }
    }
</script>
